.new-counter {
    padding: .5em 2em;
    flex: 1;
}

.button {
    border-radius: 50%;
    padding: 5px;
    height: 10em;
    width: 10em;
    border: 2px solid black;
    background-color: darkgray;
}

.count {
    font-size: 10em;
    margin: 0;
}