.App {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.button-header {
  width: 100vw;
  border-bottom: 1px solid blue;
  display: flex;

}

.button-header * {
  padding: 8px;
  font-size: large;
  flex: 1;
  border: none

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.adding:last-child {
  animation: .5s slidein;
}

.subtract:last-child {
  animation: .5s slideout;
}

@keyframes slideout {
  from{
    transform: 0%;
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes slidein {
  from{
      transform: translateX(100%)
  }
  to{
      transform: translateX(0%);
  }
}